[Unit]
Description=RC Car Update Server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/rc-car/update-server/rc-car-updater
StandardOutput=append:/var/log/myapp/myapp.log
StandardError=append:/var/log/myapp/myapp.err
Restart=always

[Install]
WantedBy=multi-user.target