[submodule "meta-tegra"]
	path = layers/meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
	branch = kirkstone-l4t-r32.7.x
[submodule "meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = kirkstone
[submodule "poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/git/poky
	branch = kirkstone
[submodule "meta-tegra-community"]
	path = meta-tegra-community
	url = https://github.com/OE4T/meta-tegra-community.git
