[submodule "meta-tegra"]
	path = layers/meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
	branch = scarthgap
[submodule "meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/git/poky
	branch = scarthgap